:root {
  --color-primary-1: rgba(85, 197, 122, 0.3);
  --color-primary-2: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: rgb(40, 180, 133, 0.5);
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.9);
  --shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --menu-speed: 0.75s; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4; }

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 3rem; }

.showcase {
  background-color: var(--color-primary-1);
  width: 100vw;
  height: 100vh;
  position: relative; }

.showcase:before {
  content: '';
  background: url("../img/hero.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.showcase .showcase__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; }

.showcase__title {
  background-color: var(--color-white);
  color: var(--color-primary-2);
  padding: 2rem 3rem;
  border-radius: 0.5rem; }

.showcase h1 {
  font-size: 6rem;
  margin-bottom: 1rem; }

.showcase h2 {
  font-size: 4rem; }

.btn {
  display: inline-block;
  border: none;
  color: var(--color-white);
  background: var(--color-primary-2);
  padding: 0.75rem 1.5rem;
  margin-top: 10rem;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: var(--shadow-dark);
  transition: all 0.2s ease; }
  .btn:hover {
    padding: 0.75rem 1.75rem;
    font-size: 1.1rem; }

::selection {
  background-color: var(--color-primary);
  color: var(--color-white); }

.menu__wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.menu__wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0; }

.menu__wrap .menu__icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background: var(--color-primary-2);
  display: flex;
  align-items: center;
  justify-content: center; }

.menu__wrap .menu__icon > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease; }

.menu__wrap .menu__icon > div:before,
.menu__wrap .menu__icon > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1rem;
  width: 100%;
  height: 2px;
  background: inherit; }

.menu__wrap .menu__icon > div:after {
  top: 1rem; }

.menu__wrap .toggler:checked + .menu__icon > div {
  transform: rotate(135deg); }

.menu__wrap .toggler:checked + .menu__icon > div::before,
.menu__wrap .toggler:checked + .menu__icon > div::after {
  top: 0;
  transform: rotate(90deg); }

.menu__wrap .toggler:checked:hover + .menu__icon > div {
  transform: rotate(225deg); }

/* Show menu */
.menu__wrap .toggler:checked ~ .menu {
  visibility: visible; }
  .menu__wrap .toggler:checked ~ .menu:link:active {
    visibility: hidden; }

.menu__wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed); }

.menu__wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease; }

.menu__wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu__wrap .menu > div {
  background-color: var(--color-primary-2);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease; }

.menu__wrap .menu > div > div {
  text-align: center;
  max-width: 90vh;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease; }

.menu__wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem; }

.menu__wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease; }

.about__wrap {
  padding: 4rem 6rem;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)); }

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.2); }

.about__bio {
  flex: 0 0 50%;
  height: auto;
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 3.6rem;
  padding: 1rem 2rem 0; }

p {
  font-size: 1.5rem;
  padding: 0 2rem 2rem; }

.about_pic {
  flex: 1;
  padding: 1rem; }

img {
  width: 100%;
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.3); }

.market__wrap {
  padding: 3rem 10rem;
  overflow: hidden; }

.market__heading {
  color: var(--color-primary-2);
  font-size: 6rem;
  text-align: center;
  margin-bottom: 1rem; }

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem; }

.card {
  flex: 0 0 1fr;
  width: 22rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  margin: 0 auto;
  padding: 0 1rem; }

.icon__image {
  width: 10rem;
  box-shadow: none;
  margin-bottom: 1rem; }

.card__heading {
  color: var(--color-grey-dark);
  font-size: 2rem; }

.card__detail {
  text-align: center;
  color: var(--color-grey-dark); }

.more__section {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #fff;
  text-align: center;
  margin: 2rem 10rem 0;
  box-shadow: var(--shadow-light); }

.list {
  color: var(--color-grey-dark);
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%; }
