.about {
  grid-column: full-start / full-end;
  padding: 4rem;
  overflow: hidden;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );

  @media only screen and (max-width: 400px) {
    padding: 0;
  }
}

.about__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.about__bio {
  flex: 0 0 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 3rem;
}

.about__pic {
  flex: 1;
  padding: 2rem;
}

.store__pic {
  display: block;
  width: 100%;
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.3);
}
