.menu__wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu__wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.menu__wrap .menu__icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background: var(--color-primary-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

// Menu Icon
.menu__wrap .menu__icon > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu__wrap .menu__icon > div:before,
.menu__wrap .menu__icon > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1rem;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu__wrap .menu__icon > div:after {
  top: 1rem;
}

// toggler animate
.menu__wrap .toggler:checked + .menu__icon > div {
  transform: rotate(135deg);
}

.menu__wrap .toggler:checked + .menu__icon > div::before,
.menu__wrap .toggler:checked + .menu__icon > div::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__wrap .toggler:checked:hover + .menu__icon > div {
  transform: rotate(225deg);
}

/* Show menu */
.menu__wrap .toggler:checked ~ .menu {
  visibility: visible;

  &:link:active {
    visibility: hidden;
  }
}

.menu__wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu__wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu__wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__wrap .menu > div {
  background-color: var(--color-primary-2);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu__wrap .menu > div > div {
  text-align: center;
  max-width: 90vh;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu__wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 4rem;
  padding: 1rem;
}

.menu__wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
